name: build-springbootweb
on: [push]
jobs:
  build-springbootweb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Build with Gradle
        run: |
           cd backend
           ./gradlew dependencyUpdates -DoutputFormatter=json,xml,html,txt,plain --refresh-dependencies
           ./gradlew clean build
